* {
    font-family: sans-serif;
    background-color: lawngreen;
}
.roller {
    background-image: url('./images/20211014_155841.jpg');
    background-size: contain;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5;
    
}
h1 {
    text-align: center;
    color: white;
    background: none;
}

section {
    display:flex;
    flex-direction: column;
}

.box {
    border-style: inset;
    border-color:limegreen;
    height: 60%;
    width: 60%;
    flex: 3 60%;
    background-color: greenyellow;
    overflow: auto;
    padding: 100px 0;
    align-self: center; 
}

.box h2 {
    text-align: center;
    font-weight: bold;
    z-index: 3;
    background-color: greenyellow;
    font-family: Arial;
}


.box h3 {
    text-align: center;
    color: grey;
    font-style: italic;
    z-index: 3;
    background-color: greenyellow;
    font-family: Arial;
}
.box p {
    background-color: greenyellow;
    font-family: Arial;
}


.box .myPic {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    overflow: scroll;
    filter: drop-shadow(2px 2px 2px black);

}

.box h6 {
    font-size: 12px;
    font-style: italic;
}