* {
    font-family: sans-serif;
    background-color: lawngreen;
}
.roller {
    background-image: url('./images/20211014_155841.jpg');
    background-size: contain;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5;  
}

footer {
    position: fixed;
}

.menu {
    position: fixed;
    top: 100px; left: 10px;
    width: 40px;
}

h1 {
    text-align: center;
    color: white;
    background: none;
}

section {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 35px; left: 100px;
    align-items: baseline;
    background-color: transparent;
}

.box {
    border-style: inset;
    border-color:limegreen;
    height: 60%;
    width: 600px;
    flex: 3 60%;
    background-color: greenyellow;
    overflow: inherit;
    align-self: center; 
    /* position: relative;
    left: 60px; top: 35px; */
}

.box h2 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    z-index: 3;
    background-color: greenyellow;
    font-family: Arial;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: cornsilk;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}




.box h3 {
    text-align: center;
    color: grey;
    font-style: italic;
    z-index: 3;
    background-color: greenyellow;
    font-family: Arial;
}
.box p {
    background-color: greenyellow;
    font-family: Arial;
}


.box .myPic {
    object-fit: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    overflow: scroll;
    filter: drop-shadow(2px 2px 2px black);
}



.box h6 {
    font-size: 12px;
    font-style: italic;
    position: top;
}