* {
    font-family: sans-serif;    
}

body {
    background-image:
    linear-gradient(rgba(15, 255, 15, 0.4), rgba(200, 255, 15, 1)), 
    url(./images/20211019_170722.jpg);
    background-size: contain;
    background-blend-mode: saturation;
    background-size: 600px, 400px;
}

.roller {
    background-image: 
    linear-gradient(rgba(255, 65, 15, 0.1), rgba(255, 65, 15, 1)), 
    url(./images/20211014_155841.jpg);
    background-size: contain;
    background-blend-mode: lighten;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5;  
}


footer {
    position: fixed;
}

.menu {
    position: fixed;
    top: 100px; left: 10px;
    width: 150px;
    color: hsl(56, 68%, 66%);
    background-color: rgba(139, 173, 159, 0.7);
    background-size: 150px, 600px;
    z-index: 2
}

.menu h2 {
    background-color: transparent;
    z-index: 3
}

.container-1 {
    top: -20px;
    position: relative;
    background-color: rgba(255, 65, 15, 0.6);
    background-size: 150px, 423px; 
    color: rgb(144,172,224);
}

.light, .sound, .video, .webdesign {
    position: relative;
    top: -40px;
    text-align: center;
    font-size: 25px;
    color: rgb(144,172,224);
}

.light {
    background-color: rgba(187, 45, 15, 0.6);
}

.sound {
    background-color: rgba(132, 15, 15, 0.6);
}

.video {
    background-color: rgba(111, 33, 9, 0.7);
}

.webdesign {
    background-color: rgba(120, 20, 10, 0.8);
}

h1 {
    text-align: center;
    color: rgb(144,172,224);
    background: none;
}

section {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 35px; left:0px;
    align-items: baseline;
    background-color: transparent;
}

.box {
    border-style: inset;
    border-color:limegreen;
    height: 60%;
    width: 600px;
    flex: 3 60%;
    background-color: hsl(54, 76%, 26%);
    overflow: inherit;
    align-self: center; 
    /* position: relative;
    left: 60px; top: 35px; */
}

.box h2 {
    color: hsl(56, 68%, 66%);
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    z-index: 3;
    background-color: hsl(54, 76%, 26%);
    font-family: Arial;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: cornsilk;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}




.box h3 {
    text-align: center;
    color: grey;
    font-style: italic;
    z-index: 3;
    background-color: hsl(54, 76%, 26%);
    font-family: Arial;
}
.box p {
    color: hsl(56, 68%, 66%);
    background-color: hsl(54, 76%, 26%);
    font-family: Arial;
}


.box .myPic {
    object-fit: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    overflow: scroll;
    filter: drop-shadow(2px 2px 2px black);
}



.box h6 {
    font-size: 12px;
    font-style: italic;
    position: top;
}